body {
    font-family: Inter;
    background-color: #0a0a0b;
    color: darkgray;
    margin: 0;

}

h1,
h3,
h5 {
    color: whitesmoke;
    font-family: Prata;
    font-weight: 400;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline;
}

li {
    display: inline;
}

p {
    line-height: 1.5em;
}

.getInTouchButton {
    color: black !important;
    font-family: Prata;
    padding: 1rem 1.75rem;
    font-size: 0.75em;
    background-color: #fbe850;
}

.allTheLinks {
    display: flex;
    align-items: center;
    
    width: 70%;
    min-width: 300px;

}
.navigationBarSection{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigationBarSection h5{
    width: 30%;
}
.navigationBarSection ul {

    display: flex;
    justify-content: space-between;
    min-width: 35%;
}

.navigationBarSection a {
    text-align: center;
    color: darkgray;

}

.icon {
    visibility: hidden;
    position: absolute !important;
    left: -1000px;
}

@media screen and (max-width: 800px) {
    .icon {
        visibility: visible;
        position: relative;
        left: unset;
        right: 8%;
    }

    .allTheLinks h3 {
        visibility: visible !important;
        display: none;
    }

    .allTheLinks a {
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive {
        position: relative;
    }

    .responsive ul {
        display: block;
        width: 100%;
    }

    .responsive li {
        display: block;
        width: 100%;
        text-align: center;
    }

    .allTheLinks.getInTouchButton{
        display: block;
        color: black !important;
        font-family: Prata;
        padding: 1rem 1.75rem;
        font-size: 0.75em;
        background-color: #fbe850;
    }
   
}

.titleSection {
    width: 45%;
    padding-left: 8%;
    padding-right: 8%;
}

.titleSection h1 {
    font-size: 2.5em;
    margin-bottom: 0;

}

.titleSection p {
    margin-top: 0.5em;

}

.allBrandsNavigationBarSection {
    display: flex;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}

.section {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;

    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
}

.section h3 {
    font-size: 1.75em;

    margin-top: 0;
    margin-bottom: 0;
}

.section p:first-child {
    margin-top: 0;
}

.section p {
    width: 95%;
}

.section img {
    margin-bottom: 1em;
    max-width: 100%;
}

.section:nth-child(odd) {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #2e3038;
}

#workingWithMe {
    padding-top: 5%;
    padding-bottom: 5%;

}

#workingWithMe p {
    margin-bottom: 1.5em;
}

.footer {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #2e3038;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialMediaList {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}