body {
    font-family: Inter;
    background-color: #0a0a0b;
    color: darkgray;
    margin: 0;

}

h1,
h3,
h5,
.active {
    color: whitesmoke;
    font-family: Prata;
    font-weight: 400;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline;
}

li {
    display: inline;
}

p {
    line-height: 1.5em;
}

.getInTouchButton {
    color: black !important;
    font-family: Prata;
    padding: 1rem 1.75rem;
    font-size: 0.75em !important; 
    background-color: #fbe850;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}
.topnavResponsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .topnavResponsive{
        width: 100%;
    }
    h3.active{
        left: 8%;
        top: 3%;
    }
    .topnav.topnav.responsive{
        display: block;
        position: relative;
        
    }
  

    .topnav.responsive a {
        float: none;
        display: block;
     
        text-align: center;
    }

    .topnav.responsive .getInTouchButton {
        display: block;
        color: black !important;
        font-family: Prata;
        padding: 1rem 1.75rem;
        font-size: 0.75em;
        background-color: #fbe850;
    }

}
.titleSection {
    width: 45%;
    padding-left: 8%;
    padding-right: 8%;
}

.titleSection h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

.titleSection p {
    margin-top: 0.5em;

}

.allBrandsNavigationBarSection {
    display: flex;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}

.section {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
}

.section h3 {
    font-size: 1.75em;

    margin-top: 0;
    margin-bottom: 0;
}

.section p:first-child {
    margin-top: 0;
}

.section p {
    width: 95%;
}

.section img {
    margin-bottom: 1em;
    max-width: 100%;
}

.section:nth-child(odd) {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #2e3038;
}

#workingWithMe {
    padding-top: 5%;
    padding-bottom: 5%;

}

#workingWithMe p {
    margin-bottom: 1.5em;
}

.footer {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #2e3038;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialMediaList {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}